name: Publish
  
on:
  push:
    branches:
    - main
    paths:
      - 'Project/Sources/**/*.4dm'
      - 'Project/Sources/*/*.4DForm'
      - 'Project/Sources/*.4DCatalog'
      - 'Project/Resources/**'
  workflow_dispatch:
    inputs:
        mode:
          type: choice
          description: semantic versioning
          options: 
          - patch
          - minor 
          - major
          required: true

env: 
  project_path: 4d-class-compiler/Project/4d-class-compiler.4DProject
  
jobs:

  publish:
    permissions: write-all
    runs-on: [macos-latest]
    steps:

      - name: configure
        id: configure
        uses: miyako/4D/.github/actions/bash/configure@v1
        with:
          mode: ${{ inputs.mode || 'patch' }}
          
      - name: checkout 
        uses: actions/checkout@v4

      - name: set version
        id: version
        uses: miyako/4D/.github/actions/package-set-version@v1
        with:
          mode: ${{ steps.configure.outputs.mode }}

      - name: clean
        id: clean
        run: |
          rm -f  _config.yml
          rm -rf _includes
          rm -rf .[^.]* .??*
          rm -rf assets
          rm -rf Data
          rm -rf Libraries
          rm -f  LICENSE
          rm -rf Documentation
          rm -f  package.json
          rm -f  README.md
          rm -rf Settings/buildApp.4DSettings
          rm -rf Project/DerivedData
          rm -rf userPreferences.*
          ditto -c -k --keepParent . "${zip_path}"
        env: 
          folder_path: Project
          zip_path: 4d-class-compiler.zip
                
      - name: List contents of output
        run: ls -lh .
        
      - name: create release
        id: release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.version.outputs.version }}
          release_name: ${{ steps.version.outputs.version }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: upload zip
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: 4d-class-compiler.zip
          asset_name: 4d-class-compiler.zip
          asset_content_type: application/zip 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
